<%= content_for(:title, (t '.title')) %>

<h1><%= t '.title'%></h1>
<%= form_with(model: @user, local: true) do |form| %>
  <%= render 'shared/error_messages', {object: form.object} %>

    <div class="field">
      <%= form.label :first_name %><br/>
      <%= form.text_field :first_name %>
    </div>
  
    <div class="field">
      <%= form.label :last_name %><br/>
      <%= form.text_field :last_name %>
    </div>
  
    <div class="field">
      <%= form.label :email %><br/>
      <%= form.text_field :email %>
    </div>
  
    <div class="field">
      <%= form.label :password %><br/>
      <%= form.password_field :password %>
    </div>
  
    <div class="field">
      <%= form.label :password_confirmation %><br/>
      <%= form.password_field :password_confirmation %>
    </div>
    
    <div class="actions">
      <%= form.submit '登録'%>
    </div>

    <div class='text-center'>
      <%= link_to (t '.to_login_page'), login_path%><br/>
      <%= link_to (t '.back'), users_path %>
    </div>
  <% end %>